nav {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 0 2px; 
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: #007bff;
}

nav a.active {
  background-color: rgb(213, 215, 224);
}