.report-container {
  text-align: center; 
  margin-bottom: 4px;
}

.report-container input {
  padding: 8px;
  margin-right: 10px;
}

.report-container button {
  padding: 8px 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}